{% extends "base.html" %}
{% block content %}
    <form id="login_form" action="/signup" method="POST">
        <div class="single-field">
        
            <label>User Name 
                <input class="textbox" type="text" name="user_name" value={{user_name}}>
            </label>
            <br>{% if error1 %}<span class="error">{{error1}}</span>{% endif %}<br>
            
            <label>Password 
                <input class="textbox" type="password" name="password" value=""/>
            </label>
            <br>{% if error2 %}<span class="error">{{error2}}</span>{% endif %}<br>
        
            <label>Confirm Password 
                <input class="textbox" type="password" name="conf_pass" value=""/>
            </label>
            <br>{% if error3 %}<span class="error">{{error3}}</span>{% endif %}<br>

            <label>User E-mail ID (Optional)
                <input class="textbox" type="text" name="user_email" value={{user_email}}>
            </label>
            <br>{% if error4 %}<span class="error">{{error4}}</span>{% endif %}
        
        </div>
        <input class="button" type="submit" value="Signup"/>
    </form>    

{% endblock %}